#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.black1 {
  background-color: var(--black1);
}

.black2 {
  background-color: var(--black2);
}

.black3 {
  background-color: var(--black3);
}

.black4 {
  background-color: var(--black4);
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}

.flex {
  display: flex;
}
.col {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: space-between;
}

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

.center {
  align-content: center;
  align-items: center;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}
.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}
