:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black1: #434444;
  --black2: #2f2f2f;
  --black3: #272727;
  --black4: #1b1c1d;

  --primary: #404eed;
  --nav-bar: #161616;

  --secondary: #5865f2;
  --text1: #ffffff;
  --text2: #eee;

  --nav-height: 60px;
}

body {
  background-color: var(--black4);
  color: var(--text1);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text1);
  transition: all ease-in 300ms;
}

nav a {
  font-weight: 500;
  color: #eee;
  text-decoration: inherit;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black3);
}
nav a:hover {
  background-color: var(--primary);
  color: #eee;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  position: sticky;
  top: 10px;
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.container {
  width: 100vw;
  /* height: calc(100vh - var(--nav-height)); */
  margin-top: var(--nav-height);
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 60px;
}

.w-100 {
  width: 100vw;
}
.h-100 {
  height: calc(100vh - var(--nav-height));
}

.card {
  background: var(--black4);
  min-width: 300px;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  height: 150px;
  margin: 10px 0px;
}
.card h2 {
  font-size: 24px;
}

.card:hover {
  background: var(--primary);
  box-shadow: 1px 2px 6px var(--black1);
}

select {
  padding: 5px 10px;
  font-size: 15px;
  background: var(--black4);
  border-radius: 4px;
}
