:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black1: #40444b;
  --black2: #2f3136;
  --black3: #292b2f;
  --black4: #202225;
  --primary: #404eed;
  --secondary: #5865f2;
  --text1: #ffffff;
  --text2: #eee;

  --nav-height: 40px;
}

body {
  background-color: var(--black4);
  color: var(--text1);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text1);
}

nav a {
  font-weight: 500;
  color: #eee;
  text-decoration: inherit;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black3);
}
nav a:hover {
  background-color: var(--primary);
  color: #eee;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  position: absolute;
  top: 10px;
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.container {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  padding: 100px;
  margin-top: var(--nav-height);
  border: 1px solid #3e3e3e;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.w-100 {
  width: 100vw;
}
.h-100 {
  height: calc(100vh - var(--nav-height));
}
